### Heroes Of Pymoli Data Analysis
* Of the 576 active players, 84% are male.

* Our core age bracket is 20-24 year olds, representing 44.8% of the player base.

* 20-24 year olds make up 1,114 of the 2,380 dollars spent on in game purchases.

* 'Oathbreaker, Last Hope of the Breaking Storm' is the most popular item (12 purchases), and accounts for the highest total revenue ($50.75)

* 'Pursuit, Cudgel of Necromancy' is one of the more popular items (8 purchases) which may be due to its lower cost of $1.02.  May be an opportunity for a price increase.


-----

In [291]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
fp = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
player_df = pd.read_csv(fp)
player_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [292]:
# data clean check -- data appears to be fairly clean
player_df.count()

Purchase ID    780
SN             780
Age            780
Gender         780
Item ID        780
Item Name      780
Price          780
dtype: int64

## Player Count

* Display the total number of players

In [293]:
player_count = len(player_df.SN.unique())
print(f"Unique Players: {player_count}")

Unique Players: 576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [294]:
# unique items total
unique_items = player_df["Item ID"].unique()
unique_items_total = len(unique_items)
unique_items_total

183

In [295]:
# average price (data types appear to already be ideal after initial check)
average_price = player_df["Price"].mean()
average_price

3.050987179487176

In [296]:
# number of purchases
purchase_count = player_df["Purchase ID"].count()
purchase_count

780

In [297]:
# total revenue
total_rev = player_df["Price"].sum()
total_rev

2379.77

In [298]:
# create summary table
purchase_sum_df = pd.DataFrame({
    "Number of Unique Items" : [unique_items_total], 
    "Average Price" : [average_price], 
    "Number of Purchases" : [purchase_count],
    "Total Revenue" : [total_rev]
})

# Format summary table
purchase_sum_df["Average Price"] = purchase_sum_df["Average Price"].map("${0:,.2f}".format)
purchase_sum_df["Total Revenue"] = purchase_sum_df["Total Revenue"].map("${0:,.2f}".format)

purchase_sum_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [299]:
# unique males
male_df = player_df.loc[player_df["Gender"] == "Male"]
unique_male = male_df["SN"].nunique()
unique_male

# unique females
female_df = player_df.loc[player_df["Gender"] == "Female"]
unique_female = female_df["SN"].nunique()
unique_female

# other gender and na
other_gender = player_count - unique_male - unique_female
other_gender

11

In [300]:
# determine gender percentages
male_percent = unique_male / player_count * 100
female_percent = unique_female / player_count * 100
other_gender_percent = other_gender / player_count * 100

In [301]:
# gender demo summary table
gender_demo_pd = pd.DataFrame({
    "Gender" : ["Male", "Female", "Other / Non-Disclosed"],
    "Total Count" : [unique_male, unique_female, other_gender],
    "Percentage of Players" : [male_percent, female_percent, other_gender_percent] 
})

# Format summary table
gender_demo_pd["Percentage of Players"] = gender_demo_pd["Percentage of Players"].map("{0:,.2f}%".format)

gender_demo_pd

                  Gender  Total Count Percentage of Players
0                   Male          484                84.03%
1                 Female           81                14.06%
2  Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [302]:
# group by for counts (purchase count)
demo_group = player_df.groupby(["Gender"])
purch_by_gender = demo_group["Purchase ID"].count()
purch_by_gender

Gender
Female                   113
Male                     652
Other / Non-Disclosed     15
Name: Purchase ID, dtype: int64

In [303]:
# group by for average (average purchase price)
purchpriceavg_by_gender = demo_group["Price"].mean()
purchpriceavg_by_gender

Gender
Female                   3.203009
Male                     3.017853
Other / Non-Disclosed    3.346000
Name: Price, dtype: float64

In [304]:
# group by for sum (total purchase value)
purchval_by_gender = demo_group["Price"].sum()
purchval_by_gender

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Price, dtype: float64

In [305]:
# this df does not have the avg total purchase per person yet, brings in count to calculate though
gender_purch_df = pd.DataFrame({"Total Count" : [unique_female, unique_male, other_gender],
                                   "Purchase Count": purch_by_gender,
                                   "Average Purchase Price" : purchpriceavg_by_gender,
                                   "Total Purchase Value": purchval_by_gender
                                  })

In [306]:
# calc average purchase total per unique person to df
perperson_genderval = gender_purch_df["Total Purchase Value"] / gender_purch_df["Total Count"]
perperson_genderval

Gender
Female                   4.468395
Male                     4.065372
Other / Non-Disclosed    4.562727
dtype: float64

In [307]:
#summary data frame
gender_purch_df["Avg Total Purchase per Person"] = perperson_genderval

#format summary data frame
gender_purch_df["Average Purchase Price"] = gender_purch_df["Average Purchase Price"].map("${0:,.2f}".format)
gender_purch_df["Total Purchase Value"] = gender_purch_df["Total Purchase Value"].map("${0:,.2f}".format)
gender_purch_df["Avg Total Purchase per Person"] = gender_purch_df["Avg Total Purchase per Person"].map("${0:,.2f}".format)

gender_purch_df

,Total Count,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,,
Female,81,113,$3.20,$361.94,$4.47
Male,484,652,$3.02,"$1,967.64",$4.07
Other / Non-Disclosed,11,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [308]:
# establish bins and bin labels with age group column
bins = [0, 9, 14, 19, 24, 29, 34, 39, 1000]
age_group_label = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
player_df["Age Group"] = pd.cut (player_df["Age"], bins, labels = age_group_label)
player_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [309]:
# find counts by age group
age_gb = player_df.groupby(["Age Group"])
age_group_count = age_gb["SN"].nunique()
age_group_count

Age Group
<10       17
10-14     22
15-19    107
20-24    258
25-29     77
30-34     52
35-39     31
40+       12
Name: SN, dtype: int64

In [310]:
# create the age group dataframe
age_demo_df = pd.DataFrame({
    "Total Count" : age_group_count,
    "Percentage of Players" : age_group_count / player_count * 100
})


# format the dataframe
age_demo_df["Percentage of Players"] = age_demo_df["Percentage of Players"].map("{0:,.2f}%".format)

age_demo_df

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [311]:
# group by for counts (purchase count)
purch_by_age = age_gb["Purchase ID"].count()
purch_by_age

Age Group
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [312]:
# group by for average (average purchase price)
purchpriceavg_by_age = age_gb["Price"].mean()
purchpriceavg_by_age

Age Group
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.941538
Name: Price, dtype: float64

In [313]:
# group by for sum (total purchase value)
purchval_by_age = age_gb["Price"].sum()
purchval_by_age

Age Group
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        38.24
Name: Price, dtype: float64

In [314]:
# create the new data frame (did all steps at once, varies from method of gender df slightly which was done in 2 steps)
age_purch_df = pd.DataFrame({"Total Count" : age_group_count,
                             "Purchase Count": purch_by_age,
                             "Average Purchase Price" : purchpriceavg_by_age,
                             "Total Purchase Value": purchval_by_age,
                             "Avg Total Purchase per Person" : purchval_by_age / age_group_count,
                            })

# format the dataframe
age_purch_df["Average Purchase Price"] = age_purch_df["Average Purchase Price"].map("${0:,.2f}".format)
age_purch_df["Total Purchase Value"] = age_purch_df["Total Purchase Value"].map("${0:,.2f}".format)
age_purch_df["Avg Total Purchase per Person"] = age_purch_df["Avg Total Purchase per Person"].map("${0:,.2f}".format)

age_purch_df

,Total Count,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Age Group,,,,,
<10,17,23,$3.35,$77.13,$4.54
10-14,22,28,$2.96,$82.78,$3.76
15-19,107,136,$3.04,$412.89,$3.86
20-24,258,365,$3.05,"$1,114.06",$4.32
25-29,77,101,$2.90,$293.00,$3.81
30-34,52,73,$2.93,$214.00,$4.12
35-39,31,41,$3.60,$147.67,$4.76
40+,12,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [315]:
# group by user (SN)
sn_gb = player_df.groupby("SN")

# group by for counts (purchase count)
purch_by_sn = sn_gb["Purchase ID"].count()

# group by for average (average purchase price)
purchpriceavg_by_sn = sn_gb["Price"].mean()

# group by for sum (total purchase value)
purchval_by_sn = sn_gb["Price"].sum()

In [316]:
# create sn dataframe
sn_purch_df = pd.DataFrame({"Purchase Count": purch_by_sn,
                            "Average Purchase Price" : purchpriceavg_by_sn,
                            "Total Purchase Value": purchval_by_sn,
                            })
sn_purch_df = sn_purch_df.sort_values("Total Purchase Value", ascending = False)


# format the dataframe
sn_purch_df["Average Purchase Price"] = sn_purch_df["Average Purchase Price"].map("${0:,.2f}".format)
sn_purch_df["Total Purchase Value"] = sn_purch_df["Total Purchase Value"].map("${0:,.2f}".format)

sn_purch_df.head()

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Profitable Items

* Sort the Most Popular Items table below by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [317]:
# NOTE: most profitable items showed first, sorted by "total value", the next portion of the notebook sorts the same
# table by "total count"

# group by item ID and Item Name
item_gb = player_df.groupby(["Item ID", "Item Name"])

# group by for counts (purchase count)
purch_by_item = item_gb["Item ID"].count()

# group by for average (average purchase price)
purchpriceavg_by_item = item_gb["Price"].mean()

# group by for sum (total purchase value)
purchval_by_item = item_gb["Price"].sum()

In [318]:
# create item dataframe
item_purch_df = pd.DataFrame({"Purchase Count": purch_by_item,
                            "Item Price" : purchpriceavg_by_item,
                            "Total Purchase Value": purchval_by_item,
                            })
item_purch_df = item_purch_df.sort_values("Total Purchase Value", ascending = False)

# format data frame
item_purch_df["Item Price"] = item_purch_df["Item Price"].map("${0:,.2f}".format)
item_purch_df["Total Purchase Value"] = item_purch_df["Total Purchase Value"].map("${0:,.2f}".format)

item_purch_df.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80
59,"Lightning, Etcher of the King",8,$4.23,$33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80
72,Winter's Bite,8,$3.77,$30.16
60,Wolf,8,$3.54,$28.32

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [319]:
# items sorted by total purchase count
item_purch_df_tpc = item_purch_df.sort_values("Purchase Count", ascending=False)
item_purch_df_tpc.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
82,Nirvana,9,$4.90,$44.10
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
60,Wolf,8,$3.54,$28.32
34,Retribution Axe,8,$2.22,$17.76
75,Brutality Ivory Warmace,8,$2.42,$19.36
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
72,Winter's Bite,8,$3.77,$30.16